@import "tailwindcss";

@theme {
    --primary: oklch(89.9% 0.061 343.231);
    --secondary: oklch(27.8% 0.033 256.848);
}

@theme inline {
    --color-primary: var(--color-pink-200);
    --color-secondary: var(--color-gray-800);
    --color-error: var(--color-red-800);
    --color-github: #101411;

    --font-sans: var(--font-geist);
    --font-mono: var(--font-geist-mono);
}

@layer base {
    * {
        /* @apply outline outline-red-500; */
    }

    html {
        & ::-webkit-scrollbar {
            @apply bg-primary size-2 p-2;
        }

        & ::-webkit-scrollbar-track {
            @apply bg-primary rounded-lg;
        }

        & ::-webkit-scrollbar-thumb {
            @apply bg-secondary rounded-lg;
        }
    }

    body {
        @apply text-xs md:text-sm xl:text-base;
    }

    h1 {
        @apply text-3xl font-semibold md:text-5xl xl:text-7xl;
    }

    h2 {
        @apply text-2xl font-semibold md:text-4xl xl:text-6xl;
    }

    h3 {
        @apply text-xl font-semibold md:text-3xl xl:text-5xl;
    }

    h4 {
        @apply text-lg font-semibold md:text-2xl xl:text-4xl;
    }

    h5 {
        @apply text-base font-semibold md:text-xl xl:text-3xl;
    }

    h6 {
        @apply text-sm font-semibold md:text-lg xl:text-2xl;
    }

    a,
    button {
        @apply cursor-pointer;
    }

    .layout {
        @apply mx-auto w-15/16 max-w-[100rem];
    }
}

@layer components {
    .auth-modal {
        --y-initial: 100%;
        --y-animate: 0px;

        @media (width >= 48rem) {
            --y-initial: 0px;
            --y-animate: 0px;
        }
    }

    .cart-modal {
        --x-initial: 0px;
        --x-animate: 0px;
        --y-initial: 100%;
        --y-animate: 0px;

        @media (width >= 48rem) {
            --x-initial: 100%;
            --x-animate: 0px;
            --y-initial: 0px;
            --y-animate: 0px;
        }
    }
}
