@import "tailwindcss";

@theme {
    --primary: oklch(89.9% 0.061 343.231);
    --secondary: oklch(27.8% 0.033 256.848);
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --font-sans: var(--font-geist);
    --font-mono: var(--font-geist-mono);
}

@layer base {
    * {
        /* @apply outline outline-red-500; */
    }

    body {
        @apply text-sm font-semibold md:text-base xl:text-lg;
    }

    h1 {
        @apply text-3xl font-semibold md:text-5xl xl:text-7xl;
    }

    h2 {
        @apply text-2xl font-semibold md:text-4xl xl:text-6xl;
    }

    h3 {
        @apply text-xl font-semibold md:text-3xl xl:text-5xl;
    }

    h4 {
        @apply text-lg font-semibold md:text-2xl xl:text-4xl;
    }

    .layout {
        @apply mx-auto w-15/16 max-w-[100rem];
    }
}
