@import "tailwindcss";

:root {
    --primary: oklch(89.9% 0.061 343.231);
    --secondary: oklch(27.8% 0.033 256.848);
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
}

@layer base {
    html {
        @apply bg-primary text-secondary;
    }

    a,
    button {
        @apply cursor-pointer;
    }
}
